.list-group-item:first-child {
    border-radius: 15px;
}
.list-group-item:last-child {
    border-radius: 15px;
}

.list-group-item {
    margin-bottom: 15px;
    border-radius: 15px;
}

.addTask {
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%;
}

.newTask {
    height: 190px;
    width: 450px;
    padding: 10px;
    text-align: center;
}