* {
    text-shadow: 0 0 0 transparent;
    text-shadow: none;
}
.list-group-item:first-child {
    border-radius: 15px;
}
.list-group-item:last-child {
    border-radius: 15px;
}

.list-group-item {
    margin-bottom: 15px;
    border-radius: 15px;
}

.addTask {
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.addTask a {
    border-radius: 15px;
}

.newTask {
    height: auto;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.addTaskImg {
    width: 50px;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 2px 4px #0620a7;
}

.ui-footer.ui-fixed-hidden {
    position: fixed !important;
}

#time:after {
	background-image: url("./img/timeicon.png");
}

.chart {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.period, .graph {
    display:flex;
    margin-bottom:3vh;
}
.graph, .detailed-info {
    height:25vh;
}
.time , .graph-element{
    text-align: center;
}
.graph-element{
}
.graph-bar{
    width:20%;
    margin:auto;
    border-radius:5%;
    box-shadow: 1px 2px 2px grey;
}
.detailed-bar{
    width:2% !important;
    height:45%;
    margin:auto;
    border-radius:100%;
}
.detailed-element{
    height:15%;
    margin-bottom:10%;
    text-align:center;
}
